<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQtoSQL.Properties.Settings.ecomdbConnectionString"
            connectionString="Data Source=TECH-LP-892;Initial Catalog=ecomdb;Persist Security Info=True;User ID=sa;Password=tadigital$123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>